# Archivos de compilación y binarios
bin/
obj/
.vs/
*.exe
*.dll
*.pdb
*.cache
*.suo
*.user
*.log
*.bak

# Archivos de configuración local
Restaurants.API/appsettings.Development.json
appsettings.Development.json
appsettings.json
secrets.json
tests/Restaurants.APITests/TestResults/
.vs/Restaurant/v17/.futdcache.v2
.vs/Restaurant/v17/DocumentLayout.backup.json
.vs/Restaurant/v17/DocumentLayout.json


